.loadercontainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loader {
    margin-top: 25rem;
    width: 25%;
}